# Django Settings
SECRET_KEY=yoursecretkeyhere
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://*.glana.com.ua,https://*.glana.com.ua

# Redis Settings
REDIS_HOST=redis
REDIS_PORT=6380

# Database Settings
DB_NAME=glana
DB_USER=glana_user
DB_PASSWORD=glana_password
DB_HOST=db
DB_PORT=5432

# Email Settings
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_SUBJECT_PREFIX=[glana.com.ua] 
SERVER_EMAIL=test@test.org
DEFAULT_FROM_EMAIL=test@test.org
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

# Google reCAPTCHA Settings
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
RECAPTCHA_DEFAULT_ACTION=generic
RECAPTCHA_REQUIRED_SCORE=0.7

# Admins and Managers
ADMINS=(('Test', 'test@test.org'),)
MANAGERS=(('Test', 'test@test.org'),)
