version: '3'

services:
  web:
    # restart: always
    build: .
    container_name: fregat_web
    command: /bin/sh -c "python manage.py makemigrations && python manage.py migrate && gunicorn backend.wsgi -b 0.0.0.0:8000 -w 3"
    volumes:
      - ./frontend:/frontend:ro
      - ./static:/static
      - ./media:/media
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
  redis:
    # restart: always
    image: redis:latest
    container_name: fregat_redis
    expose:
      - "6379"
  celery:
    # restart: always
    build: .
    environment:
      - C_FORCE_ROOT=true
    container_name: fregat_celery
    command: celery worker -A backend --loglevel=info
    depends_on:
      - db
      - redis

  db:
    # restart: always
    image: postgres:16-alpine
    container_name: fregat_db
    environment:
      - POSTGRES_DB=glana
      - POSTGRES_USER=glana_user
      - POSTGRES_PASSWORD=glana_password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: