<section id="delivery" class="g-theme-bg-gray-light-v1 g-py-100">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 g-mb-30">
                <!-- Article -->
                <article class="text-center u-block-hover u-block-hover__additional--jump g-color-gray-dark-v3 g-bg-white g-min-height-300">
                    <!-- Article Content -->
                    <div class="g-py-40 g-px-30">
                        <h3 class="text-uppercase g-font-weight-700 g-color-black g-mb-15">Оплата</h3>
                        <em class="d-block g-font-style-normal g-color-gray-dark-v3 g-mb-20 g-min-height-80">Для нас предпочтительно получать оплату с помощью перевода на <strong>карту Приват-банка</strong>, но мы готовы обсудить другой удобный вам способ.</em>
                        <div class="text-center d-block g-mb-30"><img class="g-px-10" src="img/delivery/privat.jpg" alt="оплата с помощью приват-банка"></div>
                        <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-py-12 g-px-15" href="#!">Заказать просчёт</a>
                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>

            <div class="col-sm-6 g-mb-30 g-min-height-300">
                <!-- Article -->
                <article class="text-center u-block-hover u-block-hover__additional--jump g-color-gray-dark-v3 g-bg-white g-min-height-300">
                    <!-- Article Content -->
                    <div class="g-py-40 g-px-30">
                        <h3 class="text-uppercase g-font-weight-700 g-color-black g-mb-15">Доставка</h3>
                        <em class="d-block g-font-style-normal g-color-gray-dark-v3 g-mb-20 g-min-height-80">Отправим заказ с помощью любой удобной вам службы доставки или обсудим другой вариант.</em>
                        <div class="text-center d-block g-mb-30"><img class="g-px-10" src="img/delivery/nova_poshta.jpg" alt="доставка новой почтой"><img class="g-px-10" src="img/delivery/in_time.jpg" alt="доставка интаймом"></div>
                        <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-py-12 g-px-15" href="#!">Заказать просчёт</a>
                    </div>
                    <!-- End Article Content -->
                </article>
                <!-- End Article -->
            </div>
        </div>
    </div>
</section>