<section id="job_scheme">

    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="g-bg-img-hero g-min-height-360 h-100" style="background-image: url(img/job_scheme/img1.jpg);"></div>
            </div>

            <div class="col-md-8">
                <div class="g-theme-bg-gray-light-v1 g-py-70 g-px-35">
                    <h2 class="text-uppercase g-font-weight-700 g-font-size-26 g-mb-15">Схема работы</h2>
                    <p class="g-mb-30">Компания <strong>"Фрегат"</strong> готова обеспечить производство полиграфической продукции "под ключ": начиная с подготовки и утверждения дизайн-макета, заканчивая доставкой готовой продукции вам. Наша профессиональная команда менеджеров и дизайнеров приложит все усилия, чтобы полностью удовлетворить ваши требования.</p>
                    <p class="mb-0">Ниже представлена приблизительная схема, по которой мы с вами можем сотрудничать. По вашему желанию мы можем поменять её на любую другую, удобную вам.</p>
                </div>

                <div class="g-py-55 g-px-35">
                    <div class="row">
                        <div class="col-lg-6 g-mb-30">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">01.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">Связь с клиентом</h3>
                                    <p class="mb-0">Позвоните нам по номеру <a href="tel:+38 (093) 123-45-67">+38 (093) 123-45-67</a> или
                                        <a href="#price-request" data-modal-target="#price-request" data-modal-effect="fadein">оставьте заявку</a>, чтобы наш менеджер связался с вами сам в удобное вам время.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 g-mb-30">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">02.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">Уточнение задачи</h3>
                                    <p class="mb-0">Менеджер уточнит у вас все необходимые детали, запросит имеющиеся у вас материалы (например если у вас есть готовый макет) и подготовит задание дизайнеру или сразу отправит в печать.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 g-mb-30">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">03.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">Разработка и утверждение дизайн-макета</h3>
                                    <p class="mb-0">Дизайнер разработает для вас уникальный дизайн, после чего мы отправим его вам на утверждение. Печать возможна только лишь если он вас полностью устроил.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 g-mb-30">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">04.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">Передача материалов в печать</h3>
                                    <p class="mb-0">На этом этапе производится печать продукции на современном печатном оборудовании.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 g-mb-30 g-mb-0--lg">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">05.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">Контроль качества изготовленной продукции</h3>
                                    <p class="mb-0">Менеджер тщательно проверит соответсвует ли готовая продукция дизайн-макету, нет ли брака и т.д. После чего оповестит вас, что всё готово к доставке.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">06.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">Оплата, доставка</h3>
                                    <p class="mb-0">Вы сможете оплатить заказ удобным для вас способом, после чего мы сразу же передаём его в службу доставки. Возможна оплата наложенным платежом.
                                        <a class="scrollTo" href="#delivery">Детальнее.</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>