<div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll dzsprx-readyall loaded" data-options="{direction: &quot;reverse&quot;, settings_mode_oneelement_max_offset: &quot;150&quot;}">
    <div class="divimage dzsparallaxer--target w-100 g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-black-opacity-0_6--after" style="height: 130%; background-image: url(img/home.jpg); transform: translate3d(0px, -29.0452px, 0px);"></div>

    <div class="container text-center g-pos-rel g-z-index-1 g-py-70">
        <div class="g-color-white g-font-family-merriweather g-font-size-30 g-font-size-32--md g-line-height-1_4">
            Чтобы получить <span class="g-color-primary">скидку 15%</span>, позвоните нам по номеру <br> <a href="tel:">+38 (093) 123-45-67</a><br> или оставьте заявку <br>
            <a class="btn btn-lg text-uppercase u-btn-primary g-font-weight-700 g-font-size-14 g-brd-none g-rounded-4 g-py-12 g-px-25 g-mt-30" href="#modal1" data-modal-target="#modal1" data-modal-effect="fadein">Оставить заявку</a>
        </div>
    </div>
</div>