<section id="delivery" class="g-theme-bg-gray-light-v1 g-py-100">

    <div class="container text-center g-width-760 u-heading-v2-2--bottom g-brd-primary g-mb-70">
        <h2 class="text-uppercase g-line-height-1_1 g-font-weight-700 g-font-size-26 g-mb-15">{{ delivery_desc.block_title }}</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ delivery_desc.content|safe }}
            </div>
        </div>
    </div>

</section>
