{% load static %}
{% load i18n %}

<section id="job_scheme">

    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="g-bg-img-hero g-min-height-360 h-100" style="background-image: url({% static 'img/job_scheme/img1.jpg' %});"></div>
            </div>

            <div class="col-md-8">
                <div class="g-theme-bg-gray-light-v1 g-py-70 g-px-35">
                    <h2 class="text-uppercase g-font-weight-700 g-font-size-26 g-mb-15">{% trans "Схема роботи" %}</h2>
                    <p class="g-mb-30">{% blocktrans %}Компанія <strong>"Глана"</strong> готова забезпечити виробництво поліграфічної продукції "під ключ": починаючи з підготовки та затвердження дизайн-макету, закінчуючи доставкою готової продукції вам. Наша професійна команда менеджерів та дизайнерів докладе всіх зусиль, щоб повністю задовольнити ваші вимоги.{% endblocktrans %}</p>
                    <p class="mb-0">{% blocktrans %}Нижче наведена приблизна схема, за якою ми з вами можемо співпрацювати. На ваше бажання ми можемо поміняти її на будь-яку іншу, зручну вам.{% endblocktrans %}</p>
                </div>

                <div class="g-py-55 g-px-35">
                    <div class="row">
                        <div class="col-lg-6 g-mb-30">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">01.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">{% trans "Зв'язок із клієнтом" %}</h3>
                                    <p class="mb-0">{% blocktrans with phone=contact_data.phone %}Подзвоніть нам по номеру <a href="tel:{{ phone }}">{{ phone }}</a> або
                                        <a href="#price-request" data-modal-target="#price-request" data-modal-effect="fadein">залиште заявку</a>. Наш менеджер зв'яжеться з вами у зручний для вас час.{% endblocktrans %}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 g-mb-30">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">02.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">{% trans "Уточнення задачі" %}</h3>
                                    <p class="mb-0">{% trans "Менеджер уточнит у вас все необходимые детали, запросит имеющиеся у вас материалы для разработки оригинал-макета, подготовит задание дизайнеру, составит технологическую карту." %}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 g-mb-30">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">03.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">{% trans "Розробка та затвердження дизайн-макета" %}</h3>
                                    <p class="mb-0">{% trans "Дизайнер розробить вам унікальний дизайн, після чого ми відправимо його вам на узгодження. Виконання замовлення можливе лише після затвердження оригінал-макета." %}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 g-mb-30">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">04.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">{% trans "Виготовлення замовлення" %}</h3>
                                    <p class="mb-0">{% trans "На цьому етапі проводиться виготовлення продукції на сучасному обладнанні згідно з технологічною картою замовлення." %}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 g-mb-30 g-mb-0--lg">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">05.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">{% trans "Контроль якості виготовленої продукції" %}</h3>
                                    <p class="mb-0">{% trans "Менеджер ретельно перевірить відповідність готової продукції дизайн-макету, технологічній карті замовлення. Після цього зв'яжеться з вами для уточнення способу доставки." %}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="media">
                                <div class="d-flex mr-4">
                                    <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">06.</span>
                                </div>

                                <div class="media-body">
                                    <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">{% trans "Оплата, доставка" %}</h3>
                                    <p class="mb-0">{% blocktrans %}Ви зможете оплатити замовлення та доставку замовлення зручним для вас способом
                                        <a class="scrollTo" href="#delivery">Детальніше.</a>{% endblocktrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>