{% load static %}
{% load i18n %}

<div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll dzsprx-readyall loaded"
     data-options="{direction: &quot;reverse&quot;, settings_mode_oneelement_max_offset: &quot;150&quot;}">
    <div class="divimage dzsparallaxer--target w-100 g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-black-opacity-0_6--after" style="height: 130%; background-image: url({% static 'img/home.jpg' %}); transform: translate3d(0px, -29.0452px, 0px);"></div>

    <div class="container text-center g-pos-rel g-z-index-1 g-py-70">
        <div class="g-color-white g-font-family-merriweather g-font-size-30 g-font-size-32--md g-line-height-1_4">
            {% blocktrans %}Щоб отримати <span class="g-color-primary g-font-weight-600">знижку 15%</span>, подзвоніть нам по телефону{% endblocktrans %} <br> <a class="g-font-weight-600" href="tel:{{ contact_data.phone }}">{{ contact_data.phone }}</a><br> {% trans "або залиште заявку" %} <br>
            <a class="btn btn-lg text-uppercase u-btn-primary g-font-weight-700 g-font-size-14 g-brd-none g-rounded-4 g-py-12 g-px-25 g-mt-30"
               href="#price-request"
               data-modal-target="#price-request"
               data-modal-effect="fadein"
            >{% trans "Залишити заявку" %}</a>
        </div>
    </div>
</div>