{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'uk' }}">

<head>
    <!-- Title -->
    <title>{{ page_data.meta_title }}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="keywords" content="{{ page_data.meta_keywords }}"/>
    <meta name="description" content="{{ page_data.meta_description }}"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'css/bundle.min.css' %}">

    {% include '_partials/alternates_hrefs.html' %}

    {{ page_data.ga_html|safe }}
</head>

<body>
<main class="g-pt-130 g-pt-140--md g-pt-170--lg">

    <!-- HEADER -->
    {% include "layout/_partials/header.html" %}

    <!-- FOOTER -->
    {% include "home/_partials/footer.html" %}
    <!-- /FOOTER -->

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
</main>

<script src="{% static 'js/bundle.min.js' %}"></script>

<!-- JS Plugins Init. -->
<script>
    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        $('.js-mega-menu').HSMegaMenu();
    });
</script>
<!-- End JS Plugins Init. -->

{% block extra_scripts %}{% endblock %}
</body>

</html>