<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
                    <a href="{{ product.image.product_lg.url }}" class="cbp-lightbox">
                        <img src="{{ product.image.product_lg.url }}" alt="">
                    </a>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">{{ product.title }}</div>
        <div class="cbp-l-inline-subtitle">{{ product.short_description }}</div>

        <div class="cbp-l-inline-desc">{{ product.long_description|default_if_none:''|safe }}</div>

        <div class="cbp-l-inline-view-wrap">
            <a class="btn btn-lg u-btn-primary text-uppercase g-font-weight-600 g-font-size-12" href="#price-request" data-modal-target="#price-request" data-modal-effect="fadein">Оставить заявку</a>
        </div>
    </div>
</div>

<script>
    $.HSCore.components.HSModalWindow.init('[data-modal-target]');
</script>
